.social-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 0;
}

.social-links > button {
  margin: 5px 10px;
  cursor: pointer;
}

.share-count {
  text-align: center;
}
